<% provide(:header_display, true) %>

<% flash.each do |message_type, message| %>
  <%= content_tag(:div, message, class: "alert alert-#{message_type}", style: "margin-bottom: 0;") %>
<% end %>

<div class="flex-container" style="background-color: #f7f7f7;">
  <div class="home-container">
    <div style="text-align: center; padding-bottom: 30px;">
      <h1 class="heading-text">ランニングの思い出を残そう</h1>
      <%= link_to("ルート作成を開始する", routes_url, class: "btn btn-danger btn-lg", style: "font-weight: bold;") %>
    </div>

    <div class="instruction-container">
      <div class="image-container">
        <div class="caption">ルート作成〜ルート保存</div>
        <%# autoplayにはせずに'turbo:load'イベント内（application.js）にて再生する(iOSだとTurboの影響で再生されないのため。（リロードすれば再生はされる）) %>
        <%# <video class="video" autoplay loop muted playsinline> %>
        <video class="video" loop muted playsinline>
          <source src="/assets/introduction_route_create.mp4" type="video/mp4">
        </video>
        <div class="caption">ルート表示・非表示</div>
        <%# <video class="video" autoplay loop muted playsinline> %>
        <video class="video" loop muted playsinline>
          <source src="/assets/introduction_route_display.mp4" type="video/mp4">
        </video>
      </div>
      
      <div class="instruction">
        <h2>操作方法</h2>
        <p>マーカーを追加</p>
        <ul>
          <li>追加ボタンをクリック</li>
          <li>マップ上をクリック</li>
        </ul>

        <p>マーカーを移動</p>
        <ul>
          <li>マーカーをドラッグ</li>
        </ul>

        <p>ルート線上にマーカーを追加</p>
        <ul>
          <li>ルート上追加ボタンをクリック</li>
          <li>
            <p>PC</p>
            <ul>
              <li>ルート線上を右クリック</li>
            </ul>
          </li>
          <li>
            <p>スマホ</p>
            <ul>
              <li>ルート線上をロングタップ</li>
            </ul>
          </li>
        </ul>

        <p>マーカーを削除</p>
        <ul>
          <li>削除ボタンをクリック</li>
          <li>
            <p>PC</p>
            <ul>
              <li>マーカーを右クリック</li>
            </ul>
          </li>
          <li>
            <p>スマホ</p>
            <ul>
              <li>マーカーをロングタップ</li>
            </ul>
          </li>
        </ul>

        <h2>その他</h2>
        <p>保存データについて</p>
        <ul>
          <li>作成したルート情報を永続的に保存するにはアカウントを作成してログインしてください。</li>
          <li>未ログイン状態においてもCookie情報が削除されない限り、ルート情報は保持されます。</li>
        </ul>
      </div>
    </div>
  </div>
</div>
