<div class="container">
  <div class="row">
    <div class="instruction">
      <h2>プライバシーポリシー</h2>
      <p>はじめに</p>
      <ul>
        <li>ランニング・メモリアル(以下「当サイト」といいます)は、以下の方針に従い、お客様のプライバシーの尊重及び個人情報の保護に努めて参ります｡</li>
      </ul>
      <p>法令の遵守</p>
      <ul>
        <li>当サイトは､個人情報の取得､利用その他の取り扱いについて個人情報の保護に関する法律その他の関係法令を遵守します｡</li>
      </ul>
      <p>個人情報の利用目的</p>
      <ul>
        <li>当サイトは､お客様のメールアドレス等の個人情報をご提供いただく場合があります｡</li>
        <li>当サイトは、法令により例外として取り扱うことが認められている場合を除き、ご提供いただいた個人情報を、以下の目的で利用するものとします｡</li>
        <li>･当サイトがお客様に対しサービスを提供するため</li>
        <li>･当サイトのウェブサイト及びアプリのコンテンツを改良するため</li>
        <li>･必要な場合にお客様に連絡をするため</li>
      </ul>
      <p>個人情報の管理・保護</p>
      <ul>
        <li>当サイトは､お客様の個人情報を保護すべく適切な管理を行います｡ 当サイトは、法令により例外として取り扱うことが認められている場合を除き、あらかじめお客様の同意を得ることなく､個人情報を第三者に提供･開示いたしません｡</li>
        <li>当サイトは､利用目的の達成に必要な範囲において個人情報を正確かつ最新の状態に保つとともに､個人情報への不正アクセス､個人情報の紛失､破壊､改ざん及び漏えい等の予防に努めます｡</li>
      </ul>
      <p>変更について</p>
      <ul>
        <li>当サイトは､利用目的その他本プライバシーポリシーの内容を事前の予告なく変更することがあります｡変更がある場合にはウェブサイトにて公表いたします。</li>
      </ul>
      <p>お問い合わせ</p>
      <ul>
        <li>お問い合わせは､以下までお願いいたします｡</li>
        <li>simgonsoft@gmail.com</li>
      </ul>
    </div>
  </div>
</div>
