@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

body {
  background-color: $sub-color;
  color: $main-color;
}

.title {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 5px;

  #logo-icon img {
    width: 30px;
  }

  #title-icon img {
    width: 250px;
  }
}

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.instruction-container {
  display: flex;
  flex-flow: row-reverse;
  justify-content: left;
}

.image-container {
  width: 75%;
  video {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.caption {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.instruction {
  flex-grow: 1;
  flex-basis: max-content;
  background-color: #f7f7f7;
  padding: 10px;
  border: 1px solid #ddd;

  p {
    font-weight: bold;
  }
  ul {
    padding-left: 20px;
  }
  li {
    margin-bottom: 5px;
    list-style: none;
  }
}

@media (max-width: 952px) {
  .instruction-container {
    flex-flow: row-reverse wrap;
  }

  .image-container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .title {
    padding: 5px;

    #logo-icon img {
      width: 20px;
    }
  
    #title-icon img {
      width: 160px;
    }
  }
}
