@import "bootstrap";
@import "variables";

#logo-icon img {
  width: 30px;
}

#title-icon img {
  width: 250px;
}

.heading-text {
  line-height: 1.5;
}

.instruction-container {
  display: flex;
  flex-flow: row-reverse;
  justify-content: left;
}

.image-container {
  width: 75%;
  video, img {
    width: 100%;
    height: auto;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.caption {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px;
  font-size: 14px;
  text-align: center;
}

.instruction {
  flex-grow: 1;
  flex-basis: max-content;
  // background-color: #f7f7f7;
  padding: 10px;
  // border: 1px solid #ddd;

  p {
    font-weight: bold;
  }
  ul {
    padding-left: 20px;
  }
  li {
    margin-bottom: 5px;
    list-style: none;
  }
}

.disable-click {
  pointer-events: none;
  opacity: 0.5;
}

.btn-browser {
  display: flex;
  align-items: center;
  gap: 5px;
  width:127px;
  height: 40px;
  background-color:black;
  color:white;
}

.account-destroy {
  display:flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 0;
}

.copyright {
  padding: 10px 0;
  text-align: center;
}

@media (max-width: 952px) {
  .instruction-container {
    flex-flow: row-reverse wrap;
  }

  .image-container {
    width: 100%;
  }
}

@include media-breakpoint-down(md) { 
  .heading-text {
    font-size: 28px;
  }
  #title-icon img {
    width: 180px;
  }
}
