@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

/* 全体 */

#site-container {
  height: 100vh;
}

aside {
  section {
    margin-top: 10px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

#side-menu {
  height: 100vh;
  padding: 0;
  background-color: $main-color;
  color: $sub-color;
  .route-detail button {
    img {
      width: 16px;
    }
  }
}

#navbar-menu {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  padding: 0px 10px;
}

.routes {
  list-style: none;
  margin: 0;
  padding: 0;
  >li {
    overflow: auto;
    padding: 10px 5px;
    border-bottom: 1px solid $gray-lighter;
  }
}

#map-contents {
  padding: 0;
}

#map {
  height: 100vh;
  width: 100%;
}

#map-board {
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  width: 60%;
  border-radius: 10px;
  background-color: $sub-color;

  &.map-board-disabled {
    background-color: #ECECF1CC;
  
    img {
      filter: grayscale(100%);
    }
    .map-marker-text {
      color: #80808077;
    }
    .map-marker-blank {
      border-color: #808080CC;
    }
  }
}

#marker-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: -8%;
}

.map-marker {
  display: flex;
  flex-flow: column;
  justify-content: end;
  flex: 1 0 ;
  width: 20%;
  border-radius: 32%;

  &.map-marker-normal {
    margin-top: 8%;
  }
  .map-marker-img {
    width:5vw;
    pointer-events: none;
  }
  .map-marker-img-large {
    width: 8vw;
    background-color: $sub-color;
    border-radius: 100%;
  }
  .map-marker-text {
    color:#3CB371;
    margin-top:3px;
    pointer-events: none;
    font-size: 16px;
    font-weight: bold;
  }
  .map-marker-blank {
    border-right: solid 1px;
    height: 100%;
    border-color: #3CB371;
  }
}

.route-item {
  align-items: center;
  background-color: $main-color;
}
.route-item:hover {
  background-color: #34364160;
}
.route-name-container {
  text-align: left;
  width: 100%;
  margin: 0px 5px;
}
.route-buttons-container {
  display: flex;
  gap: 10px;
}

.route-item {
  align-items: center;
  background-color: $main-color;
}
.route-item:hover {
  background-color: #34364160;
}
.route-name-container {
  text-align: left;
  width: 100%;
  margin: 0px 5px;
}
.route-buttons-container {
  display: flex;
  gap: 10px;
}

.icon-submit {
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  img {
    width: 24px;
  }
}

.route-detail {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 23px;
  padding-top: 2px;
}

.route-edit {
  width: 100%;
  height: 23px;
  .text-edit {
    background-color: #00000000;
    width: 100%;
    border: solid 1px;
    border-color: #1E90FF;
    background: none;
    outline: none;
    padding: 0;
    margin: -1px;
    font: inherit;
    color: inherit;
  }
}

#new-route {
  overflow: visible;
}

.route-info {
  flex-grow: 1;
  height: 100vh;
  overflow-y: auto;
}

#notification-popup {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333333;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 5px;
  z-index: 9999;
}

#hamburger {
  background-color: transparent;
  border: 1px solid #858585;
  .icon-bar {
    background-color: #858585;
  }
}

/* ルート機能メニュー */

#route-menu {
  position: absolute;
  right: 10px;
  padding: 5px;

  background-color: black;
  color: $sub-color;
  list-style: none;
  border-radius: 6px;

  >li {
    overflow: auto;
  }

  li:hover {
    background-color: #343641;
  }

  a, button {
    display:flex;
    align-items: center;
    padding: 10px 5px;
    height: 100%;
    width: 100%;
    color: $sub-color;
    text-decoration: none;
  }

  span {
    margin: 0 auto;
    margin-left: 10px;
  }
}

/* オプションメニュー */

#options-menu {
  background-color: black;
  color: $sub-color;
  list-style: none;
  padding: 6px 0;
  margin: 0 0 10px 0;
  border-radius: 6px;

  li {
    padding: 10px 15px;
    margin: 0;
  }

  li:hover {
    background-color: #343641;
  }

  a {
    display: block;
    height: 100%;
    width: 100%;
    color: $sub-color;
    text-decoration: none;
  }

  hr {
    margin: 6px 0;
    border-color: $main-color;
  }
}

.options-item {
  display:flex;
  align-items: center;
}

.option-item {
  margin: 0;
}

.option-item-margin {
  margin: 0 5px;
}

#options-container {
  margin-bottom: 10px;
  overflow: visible;
}

#options-btn {
  display: flex;
  flex-direction: row;

  border-radius: 6px;
  padding: 10px;
  align-items: center;
}

#options-btn:hover {
  background-color: #343641;
  cursor: pointer;
}

#logo-icon img {
  width:20px;
  border-radius: 6px;
  margin-right: 5px;
  background-color: $sub-color;
}

#app-name {
  width:100%;
  margin:0;
}

#options-icon {
  margin:0;
}

.vertical-line {
  border-right: 1px solid $sub-color;
  margin: 0 5px;
}

/* google map スタイル */

.crosshair {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background-image: url('plus_map.svg');
  background-size: 100%;
  background-repeat: no-repeat;
}

.distance-label {
  position: absolute;
  z-index: 1000;
  width: 5em;
  padding: 3px 6px;
  border: 1px solid white;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3CB371;
  user-select: none;
}

.distance-label-disable {
  z-index: 999;
  background-color: #3CB37155;
  user-select: none;
}

.distance-label::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #3CB371;
}

.my-location {
  background-color: #FFFFFF;
  margin-right: 10px;
  border-radius: 2px;
  div {
    background-image: url('mylocation.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
}

/* スクロールバー */
::-webkit-scrollbar{
  width: 1px;
  height: 5px;
}
::-webkit-scrollbar-track{
  background-color: $main-color;
}
::-webkit-scrollbar-thumb{
  background-color: $sub-color;
}

@media (max-width: 767px) {

  #site-container {
    display: flex;
    flex-flow: column;
    height: calc(var(--vh) * 100);  // カスタムプロパティ
  }

  #side-menu {
    height: auto;
  }

  #navbar-menu {
    background-color: $main-color;
    z-index: 10;
    width: 100%;
    height: 350px;
    overflow: scroll;
  }

  .collapse {
    display: none !important;
  }

  #map-contents {
    flex-grow: 1;
  }

  #map {
    height: 100%;
  }

  #options-container {
    margin: 10px 0px;
  }

  #map-board {
    width: 80%;
  }

  .map-marker {
    .map-marker-text {
      font-size: 10px;
      font-weight: bold;
    }
  }
}
